body {
    background-image: linear-gradient(rgba(10, 102, 10, 0.7), rgba(250, 239, 139, 0.2)), url(https://cdn.shopify.com/s/files/1/0008/1752/8879/files/africa-african-african-culture-1308174_large.jpg?v=1536863882);
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    width: 450px;
}

.table td {
    font-family: 'Delius', cursive;
    color: white;
    font-weight: 600;
}

.table th {
    color: yellow;
    font-style: italic;
}

h1 {
    font-family: 'Freckle Face', cursive;
    font-size: 100px;
    text-align: center;
    letter-spacing: 55px;
    color: #4d0000;
    text-shadow: 5px 5px 5px #ccff33;
    margin-top: 10px;
}

h6 {
    color: white;
    font-family: 'Delius', cursive;
    font-weight: 600;
    
}

p {
    text-align: justify;
    margin: 20px 0;
    color: white;
    font-family: 'Delius', cursive;
    font-weight: 600;
}

.copyright {
    text-align: center;
}

.form {
    width: 450px;
}

hr {
    background-color: whitesmoke;
}

footer {
    text-align: center;
    border-top: solid 1px white;
    margin-top: 50px;
}

label {
    color: yellow;
    margin: 5px 20px;
    font-weight: bolder;
    margin-left: 30px;
    font-style: italic;
}

input[type=number] {
    width: 500px;
    border-radius: 15px;
    border: solid 1px white;
    height: 30px;
    background-color: transparent;
    color: white;
    text-align: center;
    margin-left: 20px;
}

.btn {
    background-color:#4d0000;
    color: white;
    width: 180px;
    border-radius: 20px;
    text-align: center;
    margin-left: 180px;
    border: none;
    height: 40px;
}

.btn:hover {
    background-color: yellow;
    color: red;
}

.form-control {
    border-radius: 15px;
    height: 30px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    padding-left: 220px;
    width: 500px;
    margin-left: 20px;
}

h3 {
    margin-left: 30px;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 8.9px;
    color: white;
    font-size: 30px;
    font-weight: 900;
}